.flexbox-container{
  display: flex;
  width: 100%;
}

.flexbox-item{
  background-color: blue;
  border: 1px solid;
  margin: 10px;
  
  height: 200px;
}

.flexbox-item1{
  flex-grow: 1;
}
.flexbox-item2{
  flex-grow: 1;
}
.flexbox-item3{
  flex-grow: 1;
}
.flexbox-item4{
  flex-grow: 1;
}
.flexbox-item5{
  flex-grow: 1;
}
.flexbox-item6{
  flex-grow: 2;
}
.flexbox-item7{
  flex-grow: 2;
}
