body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg");
  background-size: cover;
  font-family: Arial;
  text-align: center;
  padding: 50px;
}

.transparent-title {
  background-color: white;
  opacity: 0.4;
  padding: 20px;
}

.solid-title {
  background-color: white;
  padding: 20px;
}